<h1>Students#index</h1>
<h3>My Current Activities</h3>
<% @current_student.activities.each do |myactivity| %>
  <% if myactivity.start.to_date <= Date.today.to_date && myactivity.end.to_date >= Date.today.to_date %>    
    <%= myactivity.name %><br>
  <% end %>
<% end %>

<h3>My Future Activities</h3>
<% @current_student.activities.each do |myactivity| %>
  <% if myactivity.start.to_date > Time.now.to_date %>   
    <%= myactivity.name %><br>
  <% end %>
<% end %>

<h3>My completed Activities</h3>
<% @current_student.activities.each do |myactivity| %>
  <% if myactivity.end.to_date < Date.today.to_date %>  
    <%= myactivity.name %><br>
  <% end %>
<% end %>


   