<h1>Student Show</h1>

<table>
  <tr>
    <th>My Activities</th>
  </tr>
  <%=  %>

  # .activities.each do |activity|  %>
  #   <tr>
  #     <td><%= activity.name %></td>
  #   </tr>
  # <% end %>
</table>
