  <section class="no-padding" id="portfolio">
    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="col-md-4-offset-2 col-sm-6">
          <a class="portfolio-box">
            <img src="assets/portfolio/1.jpg" class="img-responsive" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Sabina Shrestha
                </div>
                <div class="project-name">
                  I am from Nepal a small mountaneous country Which lies between India and China. Nepal is famous for the Himalayas!
                  I moved to The United States on December 2014. I love mountains. My hometown, Kathmandu, where I used to live before, is surrounded by mountains just like Salt Lake City my new home.
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4-offset-2 col-sm-6">
          <a class="portfolio-box">
            <img src="assets/portfolio/2.jpg" class="img-responsive" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Darren Bell
                </div>
                <div class="project-name">
                  My name is Darren...That is all
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4-offset-2 col-sm-6">
          <a  class="portfolio-box">
            <img src="assets/portfolio/3.jpg" class="img-responsive" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Stephanie Shultz
                </div>
                <div class="project-name">
                  Stephanie Shultz is a wife, mom, and student.  She finds enjoyment in many hobbies.  She decided to become a Web Developer in early 2015, so she could set an example to her two daughters, that even someone with no programming experience can learn how to do something completely new.
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4-offset-2 col-sm-6">
          <a  class="portfolio-box">
            <img src="assets/portfolio/4.jpg" class="img-responsive" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Tyler Russon
                </div>
                <div class="project-name">
                  I am 26 years old and have been programming for over three years but I have always been the gadget guy who tears apart electronics to see how they work and then put them back together in an improved fashion.
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
