<body class="about-gems"> 
  <div class="well-sm" align="center" style="padding: 3%" >
    <a class="portfolio-box">
      <%= image_tag "portfolio/8.jpg", class: 'img-responsive' %>        
    </a>
  </div>
  <div class="well well-sm">
    <h1 class= "white">Ruby Gems</h1>
      <ul>
        <li>Devise</li>
        <li>Devise Inviteable</li>
        <li>Underscore</li>
        <li>Byebug</li>
        <li>Better_errors</li>
        <li>Faker</li>
        <li>geocoder</li>
        <li>gmaps4rails</li>
        <li>Postgresql</li>
        <li>Uglifier</li>
      </ul>
    </diV>
      <div class="well well-sm">
    <h1 class="white">Technologies</h1>
    <ul>
      <li>Rails</li>
      <li>JavaScript</li>
      <li>JQuery</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>CoffeeScript</li>
      <li>Google Maps Api</li>
      <li>GeoCoder</li>
    </ul>
    </div>
    <div class="well well-sm">
      <h1 class="white">Tools</h1>
        <ul>
          <li>Bootstrap</li>
        </ul>
      </div>
    </diV>
</body>

