  <div style="text-align: center;">
    <IMG SRC="/assets/portfolio/8.jpg" ALT="image">
  </div>
  <div class="well well-sm">
    <h1>Ruby Gems</h1>
    <ul>
      <li>Devise</li>
      <li>Bootstrap</li>
      <li>Byebug</li>
      <li>Better_errors</li>
      <li>Faker</li>
      <li>geocoder</li>
      <li>gmaps4rails</li>
    </ul>
  </diV>
   <div class="well well-sm">
    <h1>All the goodies</h1>
    <ul>
      <li>bla</li>
      <li>bla bla bla</li>
      <li>bla bla</li>
    </ul>
  </diV>

