  <div class="well well-sm">
    <h1>All the goodies</h1>
    <ul>
      <li>bla</li>
      <li>bla bla bla</li>
      <li>bla bla</li>
    </ul>
  </diV>
   <div class="well well-sm">
    <h1>All the goodies</h1>
    <ul>
      <li>bla</li>
      <li>bla bla bla</li>
      <li>bla bla</li>
    </ul>
  </diV>

