  <div class="span12" style="text-align:left">
    <p><a class="btn btn-primary btn-sm" href="/about" role="button">Go Back</a></p>
  </div>


<h1>Darren Bell</h1>
  <%= image_tag "portfolio/2.jpg", class: 'img-responsive thumb-img'%>
    <br>
  <div class="well well-sm">
    My name is Darren...That is all
  </div>  
  <div class="well-sm" align="center" style="padding: 3%" >
    <a href="https://github.com/darrendbell" class="portfolio-box">
      <%= image_tag "portfolio/7.jpg", class: 'img-responsive' %>        
    </a>
  </div>
  <div class="col-lg-12 text-center">
    <button type="button" class="btn btn-default">
      <a href="mailto:darrendbell@yahoo.com">DARRENDBELL@YAHOO.COM</a>
    </button></i>
  </div>



