<div class="row application-body">
	<div class="col-md-12">
		<div align="center" style="padding: 10% 0 20%">
			<h1 id="h1">
			  Welcome To
			</h1>
			<img src="assets/attendance-book.jpg">
		</div>

	</div>
</div>