<div class="row">
  <div class="col-md-12">
    <h1>Sabina Shrestha</h1>
    <%= image_tag "portfolio/1.jpg", class: 'img-responsive , thumb-img'%>
      <br>
    <div class="well well-sm">
      I am Sabina Shrestha. I am from Nepal. It is a small mountaneous country. Which lies in between India and China. Nepal is famous for Himalayas!
      <br>
      <br>
      I moved to The United States of America on December 2014. Since then I have been living in Salt Lake City,UT. I love mountains. 
      My hometown, Kathmandu, where I used to live before, is surrounded by mountains. So does Salt Lake City. I enjoy living here!
      <br>
      <br>
      From DevPointLabs (Summer 2015) I learned Ruby On Rails, HTML, CSS, JavaScript, CoffeeScript, HAML, Ajax, GitHub.
      <br>
      <br>
      Bachelor in Business Studies(BBS) From Tribhuvan University (2011-2014).
    </div>
    <div class="well-sm" align="center" style="padding: 3%" >
      <a href="https://github.com/SabinaShrestha" target="_blank" class="portfolio-box">
        <%= image_tag "portfolio/7.jpg", class: 'img-responsive' %>        
      </a>
    </div>
    <div class="col-lg-12 text-center">
      <button type="button" class="btn btn-default">
        <a href="mailto:s.sabina110@gmail.com">S.SABINA110@GMAIL.COM</a>
      </button></i>
    </div>
  </div>
