<h1>Stephanie Shultz</h1>
  <div class="well well-sm">
    Stephanie Shultz is a wife, mom, and a student.  She has been married for 15 years to her Software Engineer husband, Jason.  Together she and Jason have two daughters.  Both Nikki and Lizzi are teenagers and like to do many geeky things.  
  <br /><br />
    Her youngest daughter doesn’t think she’s very cool, since “she’s not geeky.”  To prove her daughter wrong she went back to school to become a Web Developer.  She hopes to set an example to her two daughters, that even someone with no programming experience can learn how to do something completely new.  She’s currently enrolled at DevPoint Labs in Salt Lake City.
  <br /><br />
    Her many hobbies including photography, crocheting, scrapbooking, and genealogy to name just a few.  She also enjoys spending time with her family, they especially love playing board games and video games.  
  <br /><br />
    As a former Educator, Stephanie is a firm believer that we should always be learning.  The course at DevPoint Labs has pushed her beyond her comfort zone and taught her some important skills and lessons.
  </div>  
  <div class="well-sm" align="center" style="padding: 3%" >
    <a href="https://github.com/stephyc93" class="portfolio-box">
      <%= image_tag "portfolio/7.jpg", class: 'img-responsive' %>        
    </a>
  </div>
  <div class="col-lg-12 text-center">
    <button type="button" class="btn btn-default">
      <a href="mailto:stephyc93@gmail.com">STEPHYC93@GMAIL.COM</a>
    </button></i>
  </div>

