<h1>Stephanie Shultz</h1>
  <div style="text-align: center;">
    <a href="https://github.com/stephyc93"><IMG SRC="/assets/portfolio/7.jpg" ALT="image">
    </a>
  </div>
  <div class="col-lg-12 text-center">
    <button type="button" class="btn btn-default">
      <a href="mailto:stephyc93@gmail.com">STEPHYC93@GMAIL.COM</a>
    </button></i>
  </div>