  <div class="span12 top" style="text-align:left">
    <p><a class="btn btn-primary btn-sm" href="/about" role="button">Go Back</a></p>
  </div>
<h1>The Story Behind This App</h1>
  <div class="well well-sm">
     Darren was approached by the Program Director (his wife) at the "I Have A Dream" Foundation, Southern Nevada, and was asked to design and build an app that would take attendance for all after-school activities.  That's when Team Attendance Tracker was formed to fight the evil of absent students.
  </div>
        <div class="well-sm" align="center" style="padding: 3%" >
        <a href="http://ihaveadreamsonv.org/" target="_blank" class="portfolio-box">
          <%= image_tag "portfolio/10.png", class: 'img-responsive' %>        
        </a>
      </div>