<h1>The Story Behind This App</h1>
  <div class="well well-sm">
      Team attendance tracker 
  </div>
        <div class="well-sm" align="center" style="padding: 3%" >
        <a href="http://ihaveadreamsonv.org/"class="portfolio-box">
          <%= image_tag "portfolio/10.png", class: 'img-responsive' %>        
        </a>
      </div>