<h1>Attendance</h1>
<h3>My Student's Attendance</h3>
  <hr>
  <% @activities.each do |activity| %>
    <%= activity.name %>
    <table class="table">
      <tr>
        <th>Students</th>
        <th>Attendance</th>
        <th>Students Points</th>
      </tr>
      <tr>
      </tr>
      <% activity.students.each do |student| %>
        <tr>
          <td><%= student.name %></td>
          <td>
            <% if student.activities_students.where(:activity_id => activity.id).first.attendance == 1 %>
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <% else %>
              <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            <% end %>
          </td>
          <td>
            <p><%= student.activities_students.where(:attendance => 1).length %></p>
          </td>
      <% end %> <!-- /activity -->
    </table>
    <br>
  <% end %>
