
  <% @students.each do |student| %>
    <div id='<%= student.id %>' ><strong><%= student.name %></strong>
    <%= link_to "Add Student", add_student_path(params[:activity_id], student_id: student.id), remote: true , :class => "btn btn-success" %></div>
    <br>
  <% end %>





 